/* start faq page css*/

.faq_ques .panel.panel-default {
  border-radius: 0px;
  border-color: #dedede;
  margin-top: 10px;
}

.faq_ques .panel.panel-default:first-child {
  margin-top: 0px;
}

.faq_ques .panel.panel-default .panel-heading {
  padding: 0px;
  border-radius: 0px;
}

.faq_ques .panel.panel-default .panel-heading .panel-title a {
  line-height: 52px;
  padding: 0px 15px;
  background: #fff;
  display: block;
  font-size: 18px;
  color: #242424;
  letter-spacing: .54px;
  background-color: #eaeaea;
  font-weight: bold;
}

.faq_ques .panel.panel-default .panel-heading .panel-title a i {
  height: 28px;
  width: 28px;
  text-align: center;
  background: transparent;
  display: inline-block;
  line-height: 28px;
  color: #FFF;
  font-size: 10px;
  margin-right: 20px;
  background: #000;
  margin-top: 14px;
  float: right;
}

.faq_ques .panel.panel-default .panel-heading .panel-title a .fa-plus {
  display: none;
}

.faq_ques .panel.panel-default .panel-heading .panel-title a .fa-minus {
  display: inline-block;
  background: #000;
  color: #fff;
  float: right;
}

.faq_ques .panel.panel-default .panel-heading .panel-title a.collapsed .fa-plus {
  display: inline-block;
}

.faq_ques .panel.panel-default .panel-heading .panel-title a.collapsed .fa-minus {
  display: none;
}

.faq_ques .panel.panel-default .panel-collapse .panel-body {
  border-top: 0px;
  padding: 15px 15px 15px 15px;
  font-size: 15px;
  line-height: 26px;
  color: #000;
  letter-spacing: .45px;
  font-family: "Open Sans", sans-serif;
}

/*-- End faq page css --*/

/* Start responsive css*/
@media (max-width: 480px){
  .faq_ques .panel.panel-default .panel-heading .panel-title a i {
    margin-right: 8px;
  }
  .faq_ques .panel.panel-default .panel-collapse .panel-body {
    padding: 5px 35px 35px 52px;
  }
  .faq_ques .panel.panel-default .panel-heading .panel-title a {
    line-height: 24px;
    padding: 10px 15px 10px 50px;
    position: relative;
    font-size: 14px;
  }
  .faq_ques .panel.panel-default .panel-heading .panel-title a i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
  }
    /*end faq*/
}