/* Start single service page css */

.carrers_area {

  padding: 100px 0px;

}


.single-sidebar-widget .nav.nav-tabs {

  border: none;

}



.single-sidebar-widget .nav.nav-tabs li {

  float: none;

  margin-bottom: 3px;

}



.single-sidebar-widget .nav.nav-tabs li a {

  display: block;

  border: none;

  background: #242424;

  font-size: 15px;

  color: #FFF;

  font-family: 'Roboto', sans-serif;

  font-weight: bold;

  text-transform: uppercase;

  letter-spacing: .3px;

  line-height: 55px;

  padding: 0px 25px;

  border-radius: 0px;

  cursor: pointer;

}



.single-sidebar-widget .nav.nav-tabs li:last-child {

  margin-bottom: 0px;

}



.single-sidebar-widget .nav.nav-tabs li.active a {

  background: var(--primary-color);

  color: #FFF;

}

.download_btn a {

  display: block;

  background: #242424;

  padding: 13px 18px;

  font-size: 18px;

  font-family: "Lato", sans-serif;

  font-weight: bold;

  color: #fff;

  margin-top: 20px;

}



.download_btn a img {

  float: right;

}

.single-sidebar-widget.affix {

  top: 0;

  width: 270px;

  position: fixed;

}



.single-sidebar-widget.affix-bottom {

  position: absolute;

  width: 270px;

}
.service_content_bx h2 {
  font-size: 28px;

  color: #242424;

  font-family: 'Roboto', sans-serif;

  font-weight: bold;

  text-transform: uppercase;

  padding: 35px 0 20px;

}

.service_content_bx p {

  font-size: 17px;

  font-weight: 400;

  color: #797979;

  line-height: 28px;

  font-family: "Lato", sans-serif;

  letter-spacing: .34px;

  padding-bottom: 15px;

}

.service_content_bx p + p {

  padding-bottom: 0px;

}

.service_advantage {

  margin-top: 50px;

}



.service_advantage .service_text_left {

  padding-right: 20px;

}

.service_advantage .service_text_left h2 {

  font-size: 28px;

  color: #242424;

  font-family: 'Roboto', sans-serif;

  font-weight: bold;

  text-transform: uppercase;

  padding: 0px 0 20px;

}



.service_advantage .service_text_left p {

  font-size: 17px;

  font-family: "Lato", sans-serif;

  color: #797979;

  letter-spacing: .34px;

  line-height: 28px;

}



.service_advantage .service_text_left ul {

  padding-left: 32px;

  padding-top: 25px;

}



.service_advantage .service_text_left ul li {

  margin-bottom: 10px;

}



.service_advantage .service_text_left ul li a {

  font-size: 17px;

  font-family: "Lato", sans-serif;

  color: #999999;

  letter-spacing: .34px;

  line-height: 20px;

  position: relative;

  -webkit-transition: all 400ms linear 0s;

  -o-transition: all 400ms linear 0s;

  transition: all 400ms linear 0s;

}

.service_advantage .service_text_left ul li a .fa-arrow-circle-right{

  color: #000;

  font-size: 20px;

}



.service_advantage .service_text_left ul li a img {

  position: absolute;

  left: -30px;

  top: 50%;

  -webkit-transform: translateY(-50%);

  -ms-transform: translateY(-50%);

  transform: translateY(-50%);

  -webkit-transition: all 400ms linear 0s;

  -o-transition: all 400ms linear 0s;

  transition: all 400ms linear 0s;

}



.service_advantage .service_text_left ul li:last-child {

  margin-bottom: 0px;

}



.service_advantage .service_text_left ul li:hover a {

  color: #999999;

}



.service_advantage .service_text_left ul li:hover a img {

  left: -30px;

}

/* End single service page css */





/*============= Start All Services area css =============*/

.service_area {

  padding: 40px 0px;

}

.service_area .section_title {

  padding-bottom: 60px;

}

.service_area .service_item_inner {

  margin-bottom: -60px;

  clear: both;

  overflow: hidden;

}

.service_area .service_item_inner .service_box_item {

  margin-bottom: 60px;

}

.service_area .service_box_item .service_text {

  /*border-left: 3px solid #ffce30;*/

  padding-left: 15px;

  margin-top: 0px;

  background-color: #F0EBEB;

  padding: 20px 15px 30px;

  display: table;

}

.service_area .service_box_item h4 {

  font-size: 16px;

  font-weight: bold;

  color: #FFF;

  font-family: 'Roboto', sans-serif;

  text-transform: uppercase;

  letter-spacing: .32px;

  padding-bottom: 8px;

  -webkit-transition: all 400ms linear 0s;

  -o-transition: all 400ms linear 0s;

  transition: all 400ms linear 0s;

  background-color: #052236;

  padding: 15px 15px;

}



.service_area .service_box_item .service_text h4:hover {

  color: #242424;

}



.service_area .service_box_item .service_text p {

  font-size: 16px;

  color: #414141;

  font-weight: 400;

  letter-spacing: .34px;

}

.service_area .service_box_item .service_image {

    overflow: hidden;

    position: relative;

    display: block;

}

.service_area .service_box_item:hover .service_image:before {

  -webkit-transform: scaleX(1);

  -ms-transform: scaleX(1);

  transform: scaleX(1);

  opacity: 1;

}

.service_area .service_box_item:hover .service_image img {

  -webkit-transform: scale(1.05);

  -ms-transform: scale(1.05);

  transform: scale(1.05);

}

/*============= End All Services area css =============*/







@media (max-width: 1024px){

.single-sidebar-widget .nav.nav-tabs li a {

    font-size: 14px;

    padding: 0px 10px;

  }

  .download_btn a {

    padding: 13px 15px;

    font-size: 14px;

  }

}

/* Style sheet for tablet device*/

@media (max-width: 991px){

.service_advantage .service_text_left {

    padding-bottom: 50px;

  }

  .carrers_area .single-sidebar-widget {

    margin-bottom: 40px;

  }

}

@media only screen and (min-width: 320px) and (max-width: 735px) {

  .service_content_bx .image_thumb{

    margin-bottom: 15px;

  }

  .service_content_bx h2 {

    font-size: 22px;

  }

  .service_advantage .service_text_left h2 {

    font-size: 22px;

  }
}